<div class="icon--box">
      <div class="icon--container">
  <svg class="icon ">
    <use xlink:href="images/sprite.svg#free"></use>
  </svg>
  <article class="icon__text">100% Free Dating Site</article>
</div>
<div class="icon--container">
  <svg class="icon ">
    <use xlink:href="images/sprite.svg#video_chat"></use>
  </svg>
  <article class="icon__text">100% Free Dating Site</article>
</div>
<div class="icon--container">
  <svg class="icon ">
    <use xlink:href="images/sprite.svg#video_chat"></use>
  </svg>
  <article class="icon__text">100% Free Dating Site</article>
</div>

    </div>