<div class="icon--box">
  <div class="icon--container">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#free"></use>
    </svg>
    <article class="icon__text">100% Free Dating Site</article>
  </div>
  <div class="icon--container">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#chat"></use>
    </svg>
    <article class="icon__text">Video and Phone Chat</article>
  </div>
  <div class="icon--container">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#users"></use>
    </svg>
    <article class="icon__text">Large User Base</article>
  </div>
</div>
